<!-- Bottom Nav -->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-custom footer-height">
      <p class="footer-text">&copy; Copyright 2023, All Rights Reserved.</p>
    </nav>
  </footer>