<!-- Bottom Nav -->
<footer>
    <nav class="navbar navbar-dark">
      <h6 class="display-10 navbar-text" style="margin-left: 10px; margin-bottom: 0px">&copy; Copyright 2023, All Rights Reserved.</h6>
    </nav>
  </footer>