<!--
Group Members: 	Alberto Mcwhirter-Javier	- 301203948 - amcwhir1@my.centennialcollege.ca 	- Lead Software Engineer
		Andre Henrique Moyses de Assis	- 301282773 - amoysesd@my.centennialcollege.ca 	- Project Manager
		Gregory Wheeler	 - 301306049 - gwheele4@my.centennialcollege.ca	- Security Programmer
		Noveen Mirza		- 301208653 - nmirza13@my.centennialcollege.ca	- Database Programmer
		Samiul Alim Rafid	 - 301244377- srafid1@my.centennialcollege.ca	- Web Designer
		Tahnee Pitter-Duncan 		- 300844090 - tpitterd@my.centennialcollege.ca 	- UI Programmer

Curse Name: Web Application Development
Curse Code:COMP229
Assignment: Group Project
File: main_nav.ejs
Date: 2023-07-23
-->

<!-- Main Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img src="/Images/ScriptSavvyLogo.png" alt="Logo-Image" width="65px" height="65px"> Site Survey - ScriptSavvy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">

        <% if (title == "Home"){ %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/home"><i class="fas fa-lg fa-laptop-house"></i> Home </a>
        </li>
        
        <% if (title == "Survey") { %>
          <li class="nav-item active">
          <% } else  { %>
          <li class="nav-item">
          <% } %>
            <a class="nav-link" href="/survey-list/add"><i class="fa-solid fa-circle-plus"></i> Create a new Survey </a>
          </li>

        <% if (title == "Survey List") { %>
          <li class="nav-item active">
          <% } else  { %>
          <li class="nav-item">
          <% } %>
            <a class="nav-link" href="/survey-list"><i class="fa-solid fa-square-poll-horizontal"></i> Survey List </a>
          </li>

        <% if (title == "About") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/about"><i class="fas fa-info-circle"></i> About Us </a>
        </li>

        <% if (title == "Contact") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/contact-list"><i class="fas fa-mobile-alt"></i> Contact </a>
        </li>
    </div>
  </nav>