<!--
Group Members
	Alberto Mcwhirter-Javier	- 301203948 - amcwhir1@my.centennialcollege.ca 	- Lead Software Engineer
	Andre Henrique Moyses de Assis	- 301282773 - amoysesd@my.centennialcollege.ca 	- Project Manager
	Gregory Wheeler	 - 301306049 - gwheele4@my.centennialcollege.ca	- Security Programmer
	Noveen Mirza		- 301208653 - nmirza13@my.centennialcollege.ca	- Database Programmer
	Samiul Alim Rafid	 - 301244377- srafid1@my.centennialcollege.ca	- Web Designer
	Tahnee Pitter-Duncan 		- 300844090 - tpitterd@my.centennialcollege.ca 	- UI Programmer


Course Name: Web Application Development
Course Code:COMP229
Assignment: Group Project
File: index.ejs
Date: 2023-07-23
-->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<main class="container-aboutus">
    <img class=aboutus-img src="/Images/aboutus-bg.png" alt="about us image" width="100%">
	<h1 class="aboutus-header" text-align="text-center">The team behind Script Savvy</h1>
    <section class="about-us-section">
		<div class="container">
			<div class="row">
				<!-- Card 1 -->
				<div class="col-md-5 mb-3">
					<div class="card text-center">
						<div class="circle-image mx-auto">
						<img src="/Images/frontenf.png" class="card-img-top" alt="Member 1">
						</div>
						<div class="card-body">
							<h5 class="card-title">Alberto Mcwhirter-Javier	</h5>
							<p class="card-text">301203948</p>
						</div>
					</div>
				</div>`

			
				<div class="col-md-5 mb-3">
					<div class="card text-center">
						<div class="circle-image mx-auto">
						<img src="/Images/web-design.png" class="card-img-top" alt="Member 1">
						</div>
						<div class="card-body">
							<h5 class="card-title">Andre Henrique Moyses de Assis </h5>
							<p class="card-text"> 301282773</p>
						</div>
					</div>
				</div>
				<div class="col-md-5 mb-3">
					<div class="card text-center">
						<div class="circle-image mx-auto">
						<img src="/Images/frontenf.png" class="card-img-top" alt="Member 2">
						</div>
						<div class="card-body">
							<h5 class="card-title">Gregory Wheeler - </h5>
							<p class="card-text"> 301306049 </p>
						</div>
					</div>
				</div>
				<div class="col-md-5 mb-3">
					<div class="card text-center">
						<div class="circle-image mx-auto">
						<img src="/Images/web-design.png" class="card-img-top" alt="Member 3">
						</div> 
						<div class="card-body">
							<h5 class="card-title">Noveen Mirza</h5>
							<p class="card-text">301208653</p>
						</div>
					</div>
				</div>
				<div class="col-md-5 mb-3">
					<div class="card text-center">
						<div class="circle-image mx-auto">
						<img src="/Images/frontenf.png" class="card-img-top" alt="Member 4">
					</div>
						<div class="card-body">
							<h5 class="card-title">Samiul Alim Rafid	 </h5>
							<p class="card-text"># 301244377.</p>
						</div>
					</div>
				</div>
				<div class="col-md-5 mb-3">
					<div class="card text-center">
						<div class="circle-image mx-auto">
						<img src="/Images/web-design.png" class="card-img-top" alt="Member 5">
						</div>
						<div class="card-body">
							<h5 class="card-title">Tahnee Pitter-Duncan</h5>
							<p class="card-text">300844090 </p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
    

  </main>

    

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>