<!--
Group Members
	Alberto Mcwhirter-Javier	- 301203948 - amcwhir1@my.centennialcollege.ca 	- Lead Software Engineer
	Andre Henrique Moyses de Assis	- 301282773 - amoysesd@my.centennialcollege.ca 	- Project Manager
	Gregory Wheeler	 - 301306049 - gwheele4@my.centennialcollege.ca	- Security Programmer
	Noveen Mirza		- 301208653 - nmirza13@my.centennialcollege.ca	- Database Programmer
	Samiul Alim Rafid	 - 301244377- srafid1@my.centennialcollege.ca	- Web Designer
	Tahnee Pitter-Duncan 		- 300844090 - tpitterd@my.centennialcollege.ca 	- UI Programmer


Course Name: Web Application Development
Course Code:COMP229
Assignment: Group Project
File: index.ejs
Date: 2023-07-23
-->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <img class="index-img" src="/Images/Home-img.png" alt="Survey list image" width="100%">
    
    <div class="jumbotron text-center">
      <h1 class="display-4">STORE ALL YOUR SURVEYS IN ONE PLACE!</h1>
      <br> 
      <i class="fa-solid fa-angles-down fa-2xl" style="color: #59738d;"></i>    
      <br>
    </div>
    
    <div class="col text-center">
      <br>
      <button type="button" class="btn text-center">Create A New Survey</button>  
    </div>    
    
    

  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>