<!--
Group Members
	Alberto Mcwhirter-Javier	- 301203948 - amcwhir1@my.centennialcollege.ca 	- Lead Software Engineer
	Andre Henrique Moyses de Assis	- 301282773 - amoysesd@my.centennialcollege.ca 	- Project Manager
	Gregory Wheeler	 - 301306049 - gwheele4@my.centennialcollege.ca	- Security Programmer
	Noveen Mirza		- 301208653 - nmirza13@my.centennialcollege.ca	- Database Programmer
	Samiul Alim Rafid	 - 301244377- srafid1@my.centennialcollege.ca	- Web Designer
	Tahnee Pitter-Duncan 		- 300844090 - tpitterd@my.centennialcollege.ca 	- UI Programmer


Course Name: Web Application Development
Course Code:COMP229
Assignment: Group Project
File: list.ejs
Date: 2023-07-23
-->

<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
        <h1><strong>Contact Me</strong></h1>
      </div>
    <form>
        <div class="w3-panel w3-leftbar w3-sand w3-medium">
            <div class="mb-3">
                <label for="FormControlInput1" class="form-label">First Name</label>
                <input type="text" class="form-control" id="FormControlInput2" placeholder="John">
                <label for="FormControlInput2" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="FormControlInput2" placeholder="Smith">
            </div>
            <div class="mb-3">
                <label for="FormControlInput3" class="form-label">Contact Number</label>
                <input type="number" class="form-control" id="FormControlInput1" placeholder="(647) 999 0000">
            </div>
            <div class="mb-3">
                <label for="FormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="FormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="FormControlTextarea1" class="form-label">Message</label>
                <textarea class="form-control" id="FormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-buttons">
                <input type="reset" class="formbutton cancelbutton" value="Reset">
                <input type="submit" class="formbutton sendbutton" value="Submit">
            </div>
        </div>
    </form>
</main>
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>